---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

    <p class="post-meta">
 	<p class="post-meta">
	  <div class='container'>
	<div class="button-container">
		<div class='button -sun center' id="open">赞赏</div>
	</div>
	</div>
	<br />
    </p>
	<div id="popup" class="popup-wrapper hide no_shadow">
		<div class="popup-content">
		    <div class="popup-title">
		        <button type="button" class="popup-close">&times;</button>
		        <h3>Title</h3>
		    </div>
		    <div class="popup-body">
			<div class="column-wrapper">
				<div class="column">
					<img src="{{site.url}}/images/qr.jpg" />
				</div>
				<div class="column">
				<img src="{{site.url}}/images/qr.jpg" />
				</div>
			</div>
		        
		        
			<div class="container" style="clear:both;float:none">
			<div class="button-container">
			    <div class='button -regular center' id="close">Close</div>
			</div>
			</div>
		    </div>
			

		</div>
	    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="{{ site.url }}/js/popup.js"></script>
<script>

// var popupEl = document.getElementById('popup'); 

         
         var popup = $('#popup').popup({
             width: 400,
             height: 300
         });

        var open = document.getElementById('open');
        var close = document.getElementById('close');

        open.onclick = function() {
            popup.open();
        };

        close.onclick = function() {
            popup.close();
        };
</script>

